@font-face {
  font-family: 'Oswald'; 
  src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: 'Oswald-ExtraLight';
  src: url(../fonts/Oswald-ExtraLight.ttf);
}

body {
	padding: 0;
	margin: 0;
  font-family: 'Oswald-ExtraLight', sans-serif;
	color: black;
  background:#FAF9F4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.header {
  width:100%;
  background: url('../img/background_3.jpg') no-repeat center top/cover;
  padding-bottom:1%;
}

.nav {
  display:flex;
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  align-items: center;
}

.logo {
  fill:#fff;
  margin: auto 3%;
}

.tell {
  margin-right: 3%;
}
.tell > a{
  text-decoration: none;
  text-transform: capitalize;
  font-family: monospace;
  color:#ffe;
  font-size: 200%;
}

.main {
  margin: auto auto;
  display: flex;
  height: 30px;
}
.main > li a{
  border-left:2px solid rgba(255, 255, 255, 0.15);
}

.main a {
  text-decoration: none;
  color: #ffe;
  text-transform: capitalize;
  font-family: monospace;
  display: block;
  padding: 10px 15px;
  font-size: 100%;
  transition: background-color 0.5s ease-in-out;

  font-family: "Raleway", sans-serif;
}
.main a:hover {
  background-color: #631818;
}

.menu1 li {
  opacity: 0;
  transform-origin: top center;
}
.menu1 li a {
  background-color: rgba(23, 23, 50, 0.7);
  padding: 10px 0;
}
.menu1 li a:hover{
  background-color: #631818;
}
.main li:hover .menu1 li:first-of-type {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.1s;
}
.main li:hover .menu1 li:nth-of-type(2) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.main li:hover .menu1 li:nth-of-type(3) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}
.main li:hover .menu1 li:last-of-type {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.9s;
}
@keyframes menu1 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.midle {
  padding:4% 0 4% 0;
  font-family: 'Oswald-ExtraLight', sans-serif;
  color: #fff;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.midle h1{
	font-size: 350%;
}
.midle h2{
	font-size: 250%;
}
.midle p{
	font-size: 130%;
}

.btn {
  padding: 0 0 0 0;
	margin-top: 3%;
	text-transform: uppercase;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	text-align: center;
	border: 1px solid #fff;
  border-radius: 4px;
  width: 18%;
}
.btn p {
  color:#fff;
}
.btn:hover {
	background: #E3755C;
  transition-duration: 1s;
  transition-delay: 0s, 1s;
	border: 1px solid #E3755C;
}


.bottom_t {
  padding-top: 30px;
  background-color:#E3755C, no-repeat center top/cover;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	text-align: center;
}
.bottom_t p {
  font-family: 'Oswald-ExtraLight', sans-serif;
	color: black;
	font-size: 45%;
}
.bottom_t h2 {
  font-family: 'Oswald-ExtraLight', sans-serif;
	color: black;
	font-size: 36px;
}

.about {
  padding-top: 30px;
}
.txtSTR {
  position: relative;
}
.txtSTR h2{
  left: 50%;
  transform: translate(-50%,-75%);
  font-family: 'Oswald-ExtraLight', sans-serif;
  position: absolute;
  background: #fff;
}

.slider-box {
  width:900px;
  height:auto;
  margin:60px auto 30px auto;
  overflow:hidden;
}
.slider {
  position:relative;
  width:10000px;
}
.slider img {
  width: 900px;
  height: auto;
  float:left;
  z-index:0;
}

.footer {
  position: relative;
  width: auto;
  height:auto;
	color: #fff;
  background:black;
  padding: 10px 10px;
}
.footer ul {
  margin-right: auto;
  margin-left:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1450px;
}
.footer li{
  font-size:16px;
  margin-left: 30px;
}
.footer p{
  font-size:14px;
}
.right {
  margin-right:70px;
}
.right p {
  font-size:11px;
}
.footer a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: 'Oswald-ExtraLight', sans-serif;
  cursor: pointer;
}
.footer a:hover{
  text-decoration: underline;
}

.icons {
  margin-left:70px;
  position: relative;
}
.icons svg {
  margin: 5px 10px 0 0;
}


.facebook {  cursor: pointer; fill: #7e7e7e;  transition: fill .5s;}
.facebook:hover {  fill:#fff;  transition: fill .5s;}

.twitter {  cursor: pointer;  fill: #7e7e7e;  transition: fill .5s;}
.twitter:hover {  fill:#fff;  transition: fill 1s;}

.instagram{  cursor: pointer;  fill: #7e7e7e;  transition: fill .5s;}
.instagram:hover {  fill:#fff;  transition: fill 1s;}

.watsapp { cursor: pointer;  fill: #7e7e7e;  transition: fill .5s;}
.watsapp:hover {  fill:#fff;  transition: fill 1s;}

.vk { cursor: pointer; fill: #7e7e7e; transition: fill .5s;}
.vk:hover {fill:#fff; transition: fill 1s;}

.wiber { cursor: pointer; fill: #7e7e7e; transition: fill .5s;}
.wiber:hover { fill:#fff; transition: fill 1s;}

.youtube {cursor: pointer; fill: #7e7e7e; transition: fill .5s;}
.youtube:hover {fill:#fff; transition: fill 1s;}
